html, body {
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #9197B3;
	overflow-x: hidden;
}

body {
	background-color: #FAFBFF;
	font-family: 'Poppins', serif;
	font-size: 1rem;
	min-width: 100%;
}

button {
	background-color: transparent;
}


.burger {
	position: relative;
	width: 32px;
	height: 20px;
	display: none;
	transition: 0.4s ease;
	&::before, &::after {
		position: absolute;
		content: '';
		left: 0;
		width: 100%; height: 2px;
		background-color: #5932EA;
		transition: 0.4s ease;
	}
	&::before {
		top: 0px;
	}
	&::after {
		bottom: 0px;
	}
	span {
		position: absolute;
		content: '';
		left: 0; top: 0; bottom: 0;
		margin: auto;
		width: 100%; height: 2px;
		background-color: #5932EA;
		transition: 0.4s ease;
	}
}


.wrapper {
	min-height: 1198px;
	height: 100vh;
	grid-template-rows: auto 1fr;
	grid-template-columns: minmax(auto, 306px) 1fr;
	column-gap: 70px;
	row-gap: 52px;
	display: grid;
	grid-template-areas: 'sidebar header'
	'sidebar tableContent';
}

.header {
	grid-area: header;
	padding-top: 39px;
	&__title {
		font-weight: 500;
		font-size: 1.714rem;
		line-height: 1.5;
		color: #000000;
	}
}

.logo {
	display: flex;
	gap: 8px;
	align-items: center;
	transition: .3s ease;
	&__title {
		font-weight: 600;
		font-size: 1.857rem;
		line-height: 1.4;
		color: #000;
		letter-spacing: 0.01em;
		span {
			margin-left: -2px;
			font-weight: 500;
			font-size: 0.714rem;
			line-height: 1.25;
			letter-spacing: -0.01em;
			color: #838383;
		}
	}
	&:hover {
		opacity: 0.75;
	}
}

.status {
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: -0.01em;
	
	color: #008767 !important;
	padding: 4px 0;
	min-width: 80px;
	text-align: center;
	background: rgba(22, 192, 152, 0.38);
	border: 1px solid #00B087;
	border-radius: 4px;
	&.inactive {
		color: #DF0404 !important;
		background: #FFC5C5;
		border: 1px solid #DF0404;
		border-radius: 4px;
	}
}

.sidebar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #FFFFFF;
	padding: 38px 28px;
	box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
	&__list {
		margin-top: 52px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&__item {
		display: flex;
		align-items: center;
		gap: 15px;
		width: 100%;
		padding: 10px 10px;
		transition: .4s ease-in;
		border-radius: 8px;
		&:hover {
			background: #5932EA;
			.sidebar__text {
				color: #fff;
				svg {
					stroke: #fff;
				}
			}
			.fill {
				stroke: transparent;
				fill: #fff;
				&.special {
					fill: transparent;
					stroke: #fff;
				}
			}
			svg {
				stroke: #fff;
			}
		}
		svg {
			transition: .4s ease-in;
		}
		&.active {
			background: #5932EA;
			.sidebar__text {
				color: #fff;
			}
			svg {
				stroke: #fff;
			}
		}
	}
	&__text-block {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
	&__text {
		font-size: 1rem;
		line-height: 1.5;
		color: #9197B3;
		transition: .4s ease-in;
	}
	&__user {
		display: flex;
		align-items: center;
		margin-bottom: 38px;
		gap: 12px;
	}
	&__name {
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.5;
		letter-spacing: 0.01em;
		color: #000000;
	}
	&__position {
		font-weight: 400;
		font-size: 0.85rem;
		line-height: 1.5;
		letter-spacing: 0.01em;
		color: #757575;
	}
}

.table {
	margin-right: 20px;
	position: relative;
	grid-area: tableContent;
	max-width: 968px;
	max-height: 812px;
	&__body {
		position: relative;
		background: #FFFFFF;
		box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
		border-radius: 30px;
		padding: 30px 38px 40px 38px;
	}
	&__not-found {
		padding: 50px 0;
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		color: #000;
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__top-title {
		font-weight: 600;
		font-size: 1.57rem;
		line-height: 1.4;
		letter-spacing: -0.01em;
		color: #000000;
		margin-bottom: 9px;
	}

	&__top-subtitle {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.5;
		letter-spacing: -0.01em;
		color: #16C098;
	}

	&__searh {
		margin-top: 13px;
		margin-right: 15px;
		display: flex;
		align-items: center;
		background: #F9FBFF;
		border-radius: 10px;
		padding: 8px 8px;
		min-width: 216px;
		svg {
			transition: 0.3s ease-in;
			&:hover {

				stroke: #000;
			}
		}
	}
	&__top-input {
		font-weight: 400;
		margin-left: 8px;
		font-size: 0.86rem;
		line-height: 1.5;
		letter-spacing: -0.01em;
		color: #B5B7C0;
		background-color: transparent;
		&:focus {
			color: #000;
		}
	}

	&__content {
		margin-top: 42px;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}
	&__item:first-child {
		border: 0px;
	}
	&__item {
		position: relative;
		display: flex;
		color: #292D32;
		border-bottom: 1px solid #EEEEEE;
		span {
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.5;
			letter-spacing: -0.01em;
			color: inherit
		}
		&.top {
			position: relative;
			color: #B5B7C0;
			margin-bottom: 15px;
			&::before {
				position: absolute;
				content: '';
				width: 100%; height: 1px;
				background: #EEEEEE;
				bottom: -10px; left: -37px;
			}
			&::after {
				position: absolute;
				content: '';
				width: 100%; height: 1px;
				background: #EEEEEE;
				bottom: -10px; right: -37px;
			}
		}
	}

	&__item.tableContent {
		padding: 22px 0;
		.table__status {
			margin-top: -6px;
		}
	}

	&__name {
		flex: 0 1 19.5%;
	}

	&__company {
		flex: 0 1 14.5%;
	}

	&__phone {
		flex: 0 1 17.5%;
	}
	&__email {
		flex: 0 1 23.25%;
	}
	&__country {
		flex: 0 1 17%;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 28px;
	}
	&__bottom-text {
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.5;
		color: #B5B7C0;
	}
	&__action {
		display: flex;
		align-items: flex-end;
		gap: 12.5px;
	}
	&__bottom-button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 0.857rem;
		line-height: 1;
		color: #404B52;
		padding: 10px;
		max-width: 25px;
		max-height: 25px;
		background: #F5F5F5;
		border: 1px solid #EEEEEE;
		border-radius: 4px;
		transition: .4s ease;
		&.active {
			color: #fff;
			background: #5932EA;
			border: 1px solid #5932EA;
			border-radius: 4px;
			svg {
				fill: #fff;
			}
		}
		&:hover {
			color: #fff;
			background: #5932EA;
			border: 1px solid #5932EA;
			border-radius: 4px;
			svg {
				fill: #fff;
			}
		}
	}
}

@media (max-width: 1240px) {
	html, body {
		font-size: calc(9px + (14 - 9) * ((100vw - 768px) / (1200 - 768)));
	}
	.wrapper {
		display: inline-grid;
		row-gap: 30px;
		grid-template-columns: minmax(auto, 220px) auto;
		grid-template-rows: auto auto;
		column-gap: 25px;
		width: 100%;
		min-height: 600px;
	}
	.sidebar {
		padding: 35px 15px;
		&__item {
			gap: 10px;
			svg {
				width: 25px;
			}
		}
		&__text {
			font-size: 1.2rem;
		}
		&__text-block {
			svg {
				width: 13px;
			}
		}
		&__user {
			img {
				width: 36px; height: 36px;
			}
		}
	}
	.logo {
		svg {
			width: 30px;
			height: auto;
		}
		&__title {
			font-size: 1.5rem;
		}
	}
	.header {
		margin-left: 10px;
	}
	.table {
		margin-bottom: 40px;
		&__body {
			padding: 20px calc((1vh + 1vw) * 1);
		}
		&__bottom-button {
			position: relative;
			max-width: 20px; max-height: 20px;
			width: 100%; height: 100%;
			svg {
				position: absolute;
			}
		}
		&__action {
			gap: 10px;
		}
		&__item {
			&.top {
				&::before {
					position: absolute;
					content: '';
					width: 100%; height: 1px;
					background: #EEEEEE;
					bottom: -10px; left: -18px;
				}
				&::after {
					position: absolute;
					content: '';
					width: 100%; height: 1px;
					background: #EEEEEE;
					bottom: -10px; right: -18px;
				}
			}
		}
	}
	.status {
		font-size: 0.8rem !important;
		min-width: calc((1vh + 1vw) * 3);
	}
}

@media (max-width: 772px) {
	html, body {
		font-size: calc(7px + (12 - 7) * ((100vw - 420px) / (768 - 420)));
	}
	.wrapper {
		display: flex;
		flex-direction: column;
	}

	.burger {
		display: block;
	}

	.header {
		margin-right: 10px;
		margin-left: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.sidebar {
		position: fixed;
		right: -200%; top: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		transition: 0.6s ease;
		&.active {
			right: 0;
			transition: 0.4s ease;
		}
	}

	.burger {
		position: relative;
		z-index: 21;
		&.active {
			&::before, &::after {
				top: 0; bottom: 0; right: 0; left: 0;
				margin: auto;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
			span {
				opacity: 0;
			}
		}
	}

	.table {
		margin: 0px;
		height: 100%;
		width: 100%;
		&__body {
			border-radius: 0;
			padding: 30px 10px;
			height: 100%;
			&::before {
				top: 23%;
			}
		}
		&__searh {
			margin: 0;
			min-width: calc((1vh + 1vw) * 5);
			padding: 5px;
		}
		&__search-button {
			svg {
				width: 20px;
			}
		}
		&__item {
			span {
				line-height: 1;
			}
		}
		&__top-input {
			font-size: 1.1rem;
		}
		&__action {
			gap: 8px;
		}
		&__bottom {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&__bottom-button {
			svg {
				width: 6px;
			}
		}
	}
	.status {
		margin-top: 0;
		font-size: 0.7rem !important;

		padding: 5px 0;
		max-width: 32px;
	}
}

@media (max-width: 420px) {
	html, body {
		font-size: calc(6px + (7 - 6) * ((100vw - 320px) / (420 - 320)));
	}
	.table {
		&__searh {
			padding: 5px;
			align-items: center;
		}
		&__search-button {
			display: flex;
			align-items: center;
			svg {
				width: 10px; height: 10px;
			}
		}
		&__item.tableContent {
			padding: 15px 0;
		}
		&__name {
			flex: 0 1 17%;
		}
		&__company {
			flex:  0 1 12%;
		}
		&__phone {
			flex: 0 1 20%;
		}
		&__email {
			flex: 0 1 25%;
		}
		&__country {
			flex: 0 1 16%;
		}
	}
	.status {
		max-width: 0;
		min-width: 0;
		background: transparent;
		border: 0px !important;
	}
}